<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=TVC-SRVWEBDTH\MSSQLSERVERTVC;Initial Catalog=TESTTVCONCILIACION;uid=sa;pwd=bayteq1981"/>
    <add key="ConnectionStringTuves" value="Server=192.168.21.181;Uid=concilrec;password=conc11r3c;Database=smsnovanet;default command timeout=240;Convert Zero Datetime=True" />

    <add key="horaInicioServicio" value="09:00"/>
    <add key="horaFinServicio" value="23:00"/>
    <add key="SeparadorCamposFile" value=";"/>
    <add key="horaInicioServicioFiles" value="00:01"/>
    <add key="horaFinServicioFiles" value="23:59"/>
    <add key="intervaloEjecucionServicioSegundos" value="10"/>

    <!-- Intervalo de consulta para leer la cuenta de mail y obtener los mensajes que van llegando. En milisegundos -->
    <add key="IntervalPolling" value="9000"/>

    <!--Datos de conexion FTP-->
    <add key="NamePathTemp" value="C:\ConciliacionTemp\"/>
    <add key="DireccionFTP" value="ftp://192.168.21.24/"/>
    <add key="UsuarioAccesoFTP" value="bwise;broadnet"/>
    <add key="ClaveAccesoFTP" value="bwisetvcable2014;broadnet2014"/>
    <add key="PuertoAccesoFTP" value="21"/>

    <!-- Datos para el envio de notificaciones mail -->
    <add key="CuentaCorreoOrigen" value="mcamanero@tvcable.com.ec"/>
    <add key="PasswordCorreoOrigen" value="macv1989"/>
    <add key="servidorMail" value="192.168.0.251"/>
    <add key="portServidorMail" value="110"/>
    <add key="portSmtpServerMail" value="25"/>
    <add key="useSsl" value="false"/>
    <add key="servidorSalida" value="192.168.0.251"/>
    <add key="cuentaDestinoMail" value="mcamanero@tvcable.com.ec"/>
    <add key="cuentaDefaultBROADNET" value="jbustamante@posred.com.ec"/>

    <add key="subjectVerificacionArchivoConciliacion" value="[PRUEBAS]Resultado del proceso de Verificacion de Archivos de Conciliación"/>
    <add key="bodyVerificacionArchivoConciliacion" value="[PRUEBAS] Estimado {0}, &#xD;&#xA;&#xD;&#xA;    No hemos recibido el ARCHIVO DE CONCILIACION con los siguientes datos&#xD;&#xA;         PROVEEDOR: {1} &#xD;&#xA;         FECHA: {2} &#xD;&#xA;         NOMBRE DEL ARCHIVO: {3}&#xD;&#xA;         &#xD;&#xA;         &#xD;&#xA;         Saludos &#xD;&#xA;         Grupo TVCABLE."








                        />

    <add key="subjectNotificacionMail" value="[PRUEBAS]Resultado del proceso de Conciliacion Recargas TVCable Satelital"/>
    <add key="bodyNotificacionMail1" value="[PRUEBAS] Estimado {0}, el resultado del proceso de conciliacion es: {1}. &#xD;&#xA;         Saludos&#xD;&#xA;         Grupo TVCABLE."

                         />

    <!-- 
    LogLevelMapping: 
        All:  Registro total del Log
        None: No registra Log en el archivo
        
        Niveles permitidos: Information, Error, Trace, Warning, Exception, Start, Stop.
    -->
    <add key="LogMapping" value="All"/>
    <add key="LogFileNamePath" value="C:\Logs\TvCableConciliacion\TvCableWinService_.txt"/>


  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITvCableConciliacionServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.21.191:8070/TvCableConciliacionServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITvCableConciliacionServices"
        contract="TvCableConciliacionWebService.ITvCableConciliacionServices"
        name="BasicHttpBinding_ITvCableConciliacionServices" />
    </client>
  </system.serviceModel>
</configuration>
