<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
  <appSettings>
    <!-- Cadena de conexión -->
    <add key="ConnectionString" value="Data Source=TVC-SRVWEBDTH\MSSQLSERVERTVC;Initial Catalog=TESTTVCONCILIACION;uid=sa;pwd=bayteq1981"/>

    <!--Separador de los datos que vienen en los archivos de conciliacion-->
    <add key="InicioDatosHead" value="1"/>
    <add key="InicioDatosDetallePago" value="2"/>
    <add key="SeparadorDatosPago" value=";"/>
    <add key="SeparadorMails" value=";"/>

    <!--Datos de conexion FTP-->
    <add key="DireccionFTP" value="ftp://192.168.21.24/"/>
    <add key="UsuarioAccesoFTP" value="bwise;broadnet"/>
    <add key="ClaveAccesoFTP" value="bwisetvcable2014;broadnet2014"/>
    <add key="PuertoAccesoFTP" value="21"/>
    <add key="ConciliacionTemp" value="C:\ConciliacionTemp\" />

    <!-- Datos para el envio de notificaciones mail -->
    <add key="CuentaCorreoOrigen" value="mcamanero@tvcable.com.ec"/>
    <add key="PasswordCorreoOrigen" value="macv1989"/>
    <add key="servidorMail" value="192.168.0.251"/>
    <add key="portServidorMail" value="110"/>
    <add key="portSmtpServerMail" value="25"/>
    <add key="useSsl" value="false"/>
    <add key="servidorSalida" value="192.168.21.19"/>
    <add key="cuentaDestinoMail" value="mcamanero@tvcable.com.ec"/>
    <add key="subjectNotificacionMail" value="[PRUEBAS] Conciliacion Recargas TVCable Satelital"/>
    <add key="bodyNotificacionMail1" value="[PRUEBAS] Estimado {0}, no se permite el registro del archivo de conciliacion enviado a nuestro directorio FTP, comuniquese con nuestro departamento tecnico, archivos existentes: {1}. TVCABLE." />
    <add key="bodyNotificacionMail2" value="[PRUEBAS] Estimado {0}, existe un error en el formato del archivo enviado, por favor verifiquelo y vuelva a registrarlo en nuestro sistema, resultado {1}. TVCABLE." />
    
    <!-- Parametros -->
    <add key="FormatoFechaArchivoMDP" value="yyyyMMdd"/>
    
    <!-- 
    LogLevelMapping: 
        All:  Registro total del Log
        None: No registra Log en el archivo
        
        Niveles permitidos: Information, Error, Trace, Warning, Exception, Start, Stop.
    -->
    <add key="LogMapping" value="All"/>
    <add key="LogFileNamePath" value="C:\Logs\WebService\TvCableWebService_.txt"/>

  </appSettings>
  
  <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

  <system.diagnostics>
    <sharedListeners>
      <add name="rollingfile" type="Essential.Diagnostics.RollingFileTraceListener, Essential.Diagnostics"
           initializeData="C:\Logs\TvCableConciliacion-{DateTime:yyyy-MM-dd}.log"
           convertWriteToEvent="true" template="{LocalDateTime:yyyy-MM-dd HH:mm:ss.fff} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}">
      </add>
    </sharedListeners>
    <sources>
      <!-- = Sample Source = -->
      <source name="TvCableConciliacion"
              switchName="SourceSwitchService">
        <listeners>
          <clear />
          <add name="rollingfile" />
        </listeners>
      </source>

    </sources>
    <switches>
      <add name="SourceSwitchService" value="All" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <!--
          Legacy Trace.Write() statements (not using a TraceSource).
          Turn indent off to avoid confusion for multithreaded traces,
          and clear the default listener for performance.
        -->
        <clear />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
