.mensajes
{
    width: 400px;
    height: 100px;
    color: #000000;
    padding: 10px;
    margin: 40px auto;
    text-align: center;
    font-family: Verdana, Arial;
    display: none;
}

#divCerrar
{
    width: 100%;
}

.ValorListado
{
    width: 300px;
}

.ValorBooton
{
    width: 300px;
}

.ValorTxtArea
{
    columns: 50;
}

.auto-style1
{
    height: 16px;
}

.gridview
{
    margin: 5px;
    border: none;
}

    .gridview tr
    {
        text-align: left;
        border- border-bottom: solid;
        border-width: 10px;
        font-size: x-small;
    }

    .gridview th
    {
        border: none;
        background-image: url("/imag/header_inner.png");
        padding: 5px;
    }

    .gridview td
    {
        border: none;
        padding: 15px;
        margin: 5px;
    }

.button
{
    background-color: #b1b9d5;
    font-family: verdana;
    font-size: 1px;
}

.modalBg
{
    background-color: #cccccc;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.modalPanel
{
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 320px;
}

.auto-style5
{
    width: 102px;
}

.auto-style6
{
    width: 146px;
}

.lblTitle
{
    color: cadetblue;
    font-family: Calibri;
    font-size: 24px;
    text-transform: uppercase;
}

.auto-style7
{
    width: 134px;
}

.CajaDialogo
{
    background-color: #2e5e79;
    border-width: 4px;
    border-style: outset;
    padding: 0px;
    color: #ffffff;
    min-height: 186px;
}

    .CajaDialogo div
    {
        margin: 5px 5px 0px 5px;
        text-align: inherit;
    }

.auto-style1
{
    height: 16px;
}

.gridview
{
    margin: 5px;
    border: none;
    background-color: #C1CBDF;
}

    .gridview tr
    {
        text-align: left;
        border- border-bottom: solid;
        border-color: blue;
        border-width: 10px;
        font-size: x-small;
    }

    .gridview th
    {
        border: none;
        background-image: url("/imag/header_inner.png");
        padding: 5px;
    }

    .gridview td
    {
        border: none;
        padding: 15px;
        margin: 5px;
    }

.button
{
    border: solid 1px #c0c0c0;
    background-color: #eeeeee;
    font-family: verdana;
    font-size: 11px;
}

.modalBg
{
    background-color: #cccccc;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.modalPanel
{
    background-color: #ffffff;
    border-width: 3px;
    border-style: solid;
    border-color: Gray;
    padding: 3px;
    width: 320px;
}

.auto-style5
{
    width: 102px;
}

.auto-style6
{
    width: 146px;
}

.lblTitle
{
    color: cadetblue;
    font-family: Calibri;
    font-size: 24px;
    text-transform: uppercase;
}

.auto-style7
{
    width: 134px;
}

.CajaDialogoitermixPop
{
    background-image: #2e5e79;
    color: #ffffff;
}

.hideGridColumn
{
    display: none;
}

.auto-style10
{
    height: 16px;
    width: 210px;
}

.auto-style12
{
    height: 16px;
    width: 151px;
}

.auto-style13
{
    height: 16px;
    width: 146px;
}

.auto-style14
{
    width: 146px;
}

.auto-style16
{
    width: 133px;
}

.auto-style17
{
    height: 16px;
    width: 133px;
}