*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #2e5e79;
}

.centrar
{
    position: absolute;
    /*nos posicionamos en el centro del navegador*/
    top: 50%;
    left: 50%; /*determinamos una anchura*/
    width: 400px; /*indicamos que el margen izquierdo, es la mitad de la anchura*/
    margin-left: -200px; /*determinamos una altura*/
    height: 300px; /*indicamos que el margen superior, es la mitad de la altura*/
    margin-top: -150px;
    border: 1px solid #808080;
    padding: 5px;
}

div
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 200px;
    margin-top: -100px;
    margin-left: -150px;
}